In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("D:/Python/carprices.csv")
df

                Car_Model  Mileage  Sell_Price  Age
0                  BMW X5    69000       18000    6
1                  BMW X5    35000       34000    3
2                  BMW X5    57000       26100    5
3                  BMW X5    22500       40000    2
4                  BMW X5    46000       31500    4
5                 Audi A5    59000       29400    5
6                 Audi A5    52000       32000    5
7                 Audi A5    72000       19300    6
8                 Audi A5    91000       12000    8
9   Mercedez Benz C class    67000       22000    6
10  Mercedez Benz C class    83000       20000    7
11  Mercedez Benz C class    79000       21000    7
12  Mercedez Benz C class    59000       33000    5

In [ ]:
dummies=pd.get_dummies(df.Car_Model)
dummies

In [ ]:
merge=pd.concat([df,dummies],axis='columns')
merge

In [ ]:
fin=merge.drop(['Car_Model','Mercedez Benz C class'],axis='columns')
fin

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [ ]:
X=fin.drop('Sell_Price',axis='columns')

In [ ]:
Y=fin.Sell_Price
Y

In [ ]:
reg.fit(X,Y)

In [ ]:
reg.predict([[45000,4,0,0]])

In [ ]:
reg.score(X,Y)

In [ ]:
reg.predict([[86000,7,0,1]])

In [ ]:
reg.predict([[90000,1,1,0]])

reg.score(X,Y)

In [ ]:
%matplotlib inline
plt.scatter(df['Mileage'],df['Sell_Price'])

In [ ]:
plt.scatter(df['Age'],df['Sell_Price'])

In [ ]:
X=df[['Mileage','Age']]
Y=df['Sell_Price']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=10)

In [ ]:
X_train

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [ ]:
reg.fit(X_train,Y_train)

In [ ]:
reg.predict(X_test)

In [ ]:
Y_test

In [ ]:
reg.score(X_test,Y_test)